.warpper-projetos {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projetos {
  margin: 0;
}

.item {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 255px;
  border-radius: 50%;
}

.item img {
  z-index: 2;
}

.item:nth-child(1) {
  background-color: #FFF8EF;
}

.item:nth-child(2) {
  background-color: #FEC63E;
}

.item:nth-child(3) {
  background-color: #FFFFFF;
}

.item:nth-child(4) {
  background-color: #000000;
}

.used-tech-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.used-tech{
  width: 700px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #090915;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-content: center;
}
.tech{
  background-color: #151a28;
  padding: 6px 16px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  text-transform: capitalize;
}





/* 
.btn-slide{
  position: absolute;
  top: 0;
  left: 0px;
  right: auto;
  bottom: 0;
  cursor: pointer;
  display: flex;
  width: 35px;
  padding: 0;
}
[data-slide="next"]{
  right: 0px;
  left: auto;
}
[data-slide="previous"]::before,
[data-slide="next"]::before{
  content: '';
  display: block;
  width: 35px;
}
[data-slide="previous"]::before{
  background: url(../../imagens/arrL.svg) center no-repeat;
  background-size: contain;
}
[data-slide="next"]::before{
  background: url(../../imagens/arrR.svg) center no-repeat;
  background-size: contain;
} */